<div id="header">
    <h1>Sucursales</h1>
    <span>De la Empresa</span>
    <h2>Gusto al Gusto</h2>

    <button type="button" id="btnagregar" data-bs-toggle="modal" data-bs-target="#agregarmodal">Agregar Sucursales</button>

    <div class="modal fade" id="agregarmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ingresar Sucursal</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">nombre de la sucursal</label>
                <input type="text" id="imputNombre" class="form-control" name="nombreSucursal" #nombreSucursal="ngModel"
                [(ngModel)]="sucursalesModelPost.nombreSucursal" >
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">ubicacion empresa</label>
                <input type="text" id="imputNombreProducto" class="form-control" name="ubicacionSucursal"#ubicacionSucursal="ngModel"
                [(ngModel)]="sucursalesModelGetId.ubicacionSucursal"
               >
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="postSucursales()" >Guardar</button>
          </div>
        </div>
      </div>
    </div>
    </div>

<div class="container">
    <div class="card" *ngFor='let suc of sucursalesModelGet'>
      <div class="card-header">
        <img src="../../../assets/images/empresafood.jpg" alt="rover" />
      </div>
      <div class="card-body">
        <h4>{{suc.nombreSucursal}}</h4>

        <div class ="btncrud">
          <button id="actu"  data-bs-toggle="modal" data-bs-target="#actializarmodal" (click)="getSucursalId(suc._id)">Actualizar</button>
          <button type="button" id="elimi" >Eliminar</button>
          <button type="button" id="ver" >ver</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="actializarmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">nombre empresa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">nombre empresa</label>
            <input type="text" id="imputNombreProducto" class="form-control" name="nombreSucursal"#nombreSucursal="ngModel"
            [(ngModel)]="sucursalesModelGetId.nombreSucursal"
           >
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">ubicacion empresa</label>
            <input type="text" id="imputNombreProducto" class="form-control" name="ubicacionSucursal"#ubicacionSucursal="ngModel"
            [(ngModel)]="sucursalesModelGetId.ubicacionSucursal"
           >
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="putProductos()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
